a{
    text-decoration: none;
    color: #000;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #000;
}

ul{
    list-style: none;
}

/*Área de pedidos*/

.containerCarrinho{
    border: 1px solid;
    width: 800px;
    height: 800px;
    margin: 40px auto;
}
